[email]
email_backend = airflow.utils.email.send_email_smtp

[smtp]
# If you want airflow to send emails on retries, failure, and you want to use
# the airflow.utils.email.send_email_smtp function, you have to configure an
# smtp server here

smtp_host = mail.tutorabc.com
smtp_starttls = False
smtp_ssl = False

# Uncomment and set the user/pass settings if you want to use SMTP AUTH
#smtp_user =
#smtp_password =

smtp_port = 25
smtp_mail_from = AI_TP@tutorabc.com
